/* Custom fonts */
@font-face {
    font-family: Sono;
    src: url(./assets/fonts/Sono/static/Sono/Sono-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: Sono;
    src: url(./assets/fonts/Sono/static/Sono/Sono-Medium.ttf);
    font-weight: 700;
}
@font-face {
    font-family: Sono;
    src: url(./assets/fonts/Sono/static/Sono/Sono-Regular.ttf);
    font-weight: 400;
}
/* Custom cursor */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: aliceblue;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 75px;
}

body {
    font-weight: 400;
    overflow-x: hidden;
    position: relative;
    background-color: #031926 !important;
    color: aliceblue !important;
    font-family: 'Sono', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    line-height: normal;
}

p, a, li, button, ul {
    margin: 0;
    padding: 0;
    line-height: normal;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}

button {
    border: 0;
    background-color: transparent;
}

@media (min-width:1700px) {
    main .container {
        max-width: 100%;
        padding: 0, 150px;
    }
}

/* Nav bar styling */
nav.navbar {
    padding: 18px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
    transition: ease-in-out;
}
nav.navbar.scrolled {
    padding: 0px, 0;
    background-color: #031926;
}
nav.navbar .navbar-brand {
    width: 9%;
}
span.navbar-text {
    display: flex;
    align-items: center;
}
.navbar-text button {
    font-weight: 700;
    color: #fff;
    border: 1px solid #fff;
    padding: 18px 34px;
    font-size: 18px;
    margin-left: 18px;
	position: relative;
	background-color: transparent;
	transition: 0.3s ease-in-out;
}
/* .navbar-brand img {
    float: right !important;
} */
i {
    width: 42px;
    height: 42px;
    background: rgba(217, 217, 217, 0.1);
    display: inline-flex;
    border-radius: 50%;
    margin-right: 6px;
    align-items: center;
    justify-content: center;
    line-height: 1;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

/* Banner Styling */
.banner {
    margin-top: 0;
    padding: 260px 0 100px 0;
    background-image:url('./assets/images/images\ \(6\).jpg');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}
.txt-rotate > .wrap {
    border-right: 0.08em solid #666;
  }
/* Skills Styling */

/* Projects Styling */

/* Contact Styling */

/* Footer Styling */